<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}Pokemon Card Collection{% endblock %}

{% block content %}
		<a id="new-card" href="{{ url_for('new_card') }}">Add Card</a>

		{% for card in cards %}
			<div class="card">
				<h2>{{ card.name }}</h2>
				<p>{{ card.first_num }} / {{ card.second_num }}</p>
				<p>Pokedex ID: {{ card.pokedex_id }}</p>
				<p>From: {{ card.set_name }}</p>
				<p>Count: {{ card.count }}</p>
			</div>
		{% else %}
			<h3 id="no-cards">No cards in your collection :(</h3>
		{% endfor %}

{% endblock %}
